<article class="place-card">
  <div class="place-card__top">
    <div>
      <div class="place-card__title-row">
        <h3 class="place-card__title">
          <a class="place-card__primary-link" href="/places/<%= place.slug %>"><%= place.name %></a>
        </h3>
        <% if (place.website_url) { %>
          <a class="menu-link" href="<%= place.website_url %>" target="_blank" rel="noreferrer"><span class="menu-link__icon" aria-hidden="true"></span><span class="sr-only">Menu</span></a>
        <% } %>
      </div>
      <p class="place-card__suburb"><%= place.suburb %></p>
    </div>
  </div>

  <div class="place-card__badges">
    <span class="meta-pill"><%= formatStatus(place.status) %></span>
  </div>

  <% if (place.openSummary) { %>
    <p class="nearby-status-line"><%= place.openSummary.label %></p>
  <% } %>

  <% if (place.tags && place.tags.length) { %>
    <div class="tag-row">
      <% place.tags.slice(0, 4).forEach((tag) => { %>
        <span class="meta-pill"><%= tag.name %></span>
      <% }) %>
    </div>
  <% } %>

  <% if (place.notes_public) { %>
    <p class="place-card__excerpt"><%= excerpt(place.notes_public, 150) %></p>
  <% } %>
</article>
